name: Codecov

on:
  push:
  pull_request:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
      
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: ^1.22
      
    - name: Generate coverage report
      run: make test
      
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5.4.0
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.out
