name: Releaser

on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      -
        name: Set up Go 1.x
        uses: actions/setup-go@v5
        with:
          go-version: ^1.21
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5.1.0
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GH_API_TOKEN }}
