name: Releaser

on:
  push:
    tags:
    - 'v*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      -
        name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: ${{ github.ref }}
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
